body {
	margin: 0;
	background: #f19f0f;
	font-family: "Open Sans", sans-serif;
	color: #fff;
	text-align: center;
}

h1 {
	font-weight: normal;
}

p a {
	text-decoration: none;
	color: rgba( 255, 255, 255, .7 );
}

.content {
	margin-top: 100px;
}

nav {
	padding: 100px 0;
}

nav:nth-child(odd) {
	position: relative;
	z-index: 1;
	background: #34495e;
}

nav a {
	display: inline-block;
	position: relative;
	height: 40px;
	padding: 0 20px;
	margin-right: 20px;
	color: #fff;
	color: rgba( 255, 255, 255, .4 );
	font-size: 18px;
	line-height: 40px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}

/***/

.effect1:before {
	position: absolute;
	left: 0;
	content: "";
	width: 100%;
	height: 100%;
	border: 2px solid #fff;
	opacity: 0;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	-webkit-transform: scale( .5 );
	   -moz-transform: scale( .5 );
	    -ms-transform: scale( .5 );
	     -o-transform: scale( .5 );
	        transform: scale( .5 );
	-webkit-transition: all .3s;
	   -moz-transition: all .3s;
	    -ms-transition: all .3s;
	     -o-transition: all .3s;
	        transition: all .3s;
}

.effect1:hover::before {
	opacity: 1;
	-webkit-transform: scale( 1 );
	   -moz-transform: scale( 1 );
	    -ms-transform: scale( 1 );
	     -o-transform: scale( 1 );
	        transform: scale( 1 );
}

/***/

.effect2:before,
.effect2:after {
	position: absolute;
	content: "";
	width: 2px;
	height: 100%;
	background: #fff;
	opacity: 0;
	-webkit-transition: all .3s;
	   -moz-transition: all .3s;
	    -ms-transition: all .3s;
	     -o-transition: all .3s;
	        transition: all .3s;
}

.effect2:before {
	left: 0;
	top: -80%;
}

.effect2:hover::before {
	top: 0;
	opacity: 1;
}

.effect2:after {
	right: 0;
	bottom: -80%;
}

.effect2:hover::after {
	bottom: 0;
	opacity: 1;
}

/***/

.effect3:before,
.effect3:after {
	position: absolute;
	top: 0;
	content: "";
	width: 2px;
	height: 100%;
	background: #fff;
	opacity: 0;
	-webkit-transform: rotate( 90deg );
	   -moz-transform: rotate( 90deg );
	    -ms-transform: rotate( 90deg );
	     -o-transform: rotate( 90deg );
	        transform: rotate( 90deg );
	-webkit-transition: all .3s;
	   -moz-transition: all .3s;
	    -ms-transition: all .3s;
	     -o-transition: all .3s;
	        transition: all .3s;
}

.effect3:before {
	left: 0;
	-webkit-transform-origin: 0 0;
	   -moz-transform-origin: 0 0;
	    -ms-transform-origin: 0 0;
	     -o-transform-origin: 0 0;
	        transform-origin: 0 0;
}

.effect3:after {
	right: 0;
	-webkit-transform-origin: 100% 100%;
	   -moz-transform-origin: 100% 100%;
	    -ms-transform-origin: 100% 100%;
	     -o-transform-origin: 100% 100%;
	        transform-origin: 100% 100%;
}

.effect3:hover::before,
.effect3:hover::after {
	opacity: 1;
	-webkit-transform: rotate( 0 );
	   -moz-transform: rotate( 0 );
	    -ms-transform: rotate( 0 );
	     -o-transform: rotate( 0 );
	        transform: rotate( 0 );
}

/***/

.effect4:before,
.effect4:after {
	position: absolute;
	top: 0;
	left: 0;
	content: "";
	width: 100%;
	height: 100%;
	opacity: 0;
	pointer-events: none;
	-webkit-transition: all .3s;
	   -moz-transition: all .3s;
	    -ms-transition: all .3s;
	     -o-transition: all .3s;
	        transition: all .3s;
}

.effect4:before {
	top: -50%;
	border-top: 2px solid #fff;
	border-left: 2px solid #fff;
}

.effect4:after {
	top: 50%;
	border-right: 2px solid #fff;
	border-bottom: 2px solid #fff;
}

.effect4:hover::before,
.effect4:hover::after {
	top: 0;
	opacity: 1;
}

/***/

.effect5 {
	background: #34495e;
}

.effect5:before {
	position: absolute;
	top: -2px;
	left: -2px;
	z-index: -1;
	content: "";
	width: 100%;
	height: 0;
	padding: 0 2px;
	background: #fff;
	-webkit-transition: all .3s;
	   -moz-transition: all .3s;
	    -ms-transition: all .3s;
	     -o-transition: all .3s;
	        transition: all .3s;
}

.effect5:hover::before {
	height: 100%;
	padding: 2px;
}